/* StoreComponent.css */

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
.delete-button {
  background-color: red;
}
.form-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  padding-left: 50px;
  padding-top: 50px;
}

form {
  margin-top: 20px;
}

form div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 40%;
  padding: 12px 10px;
  font-size: 1rem;
  color: black;
  border: 1px solid grey;
  border-radius: 6px;
}
